<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="success">
    Cálculo fatorial 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-text color="success">
        <p>Entre os valore abaixo:</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="success" position="stacked">Valor 1:</ion-label>
        <ion-text color="light">
          <ion-input [(ngModel)]="valor1"> </ion-input>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="success" position="stacked">Valor 2:</ion-label>
        <ion-text color="light">
          <ion-input [(ngModel)]="valor2"></ion-input>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="success" (click)="calc()">CALCULAR</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="success">Resultado:</ion-label>
        <ion-text color="light">
          <ion-input disabled="true" [value]="exibirResultado()"></ion-input>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
